Art/
Audio/
Art/*
Audio/*
Antarctic\ Moon.lrc
Cherubs.lrc
Code\ Monkey.lrc
I\ Feel\ Fantastic.lrc
I'm\ Your\ Moon.lrc
I\ Think\ I\ Started\ a\ Trend.lrc
Learn\ to\ Fly.lrc
Let\ It\ In.lrc
Mandelbrot\ Set\ (Clean).lrc
My\ Favorite\ Regret.lrc
On\ Brevity.lrc
Steno\ Hero\ (Tiny\ Tune).lrc
Sunday\ Smiled.lrc\ 
That\ Spells\ DNA.lrc
The\ Most\ (Clean).lrc
The\ Standing\ Ones.lrc
